@model IEnumerable<TourAgency.Models.Discount>

@{
    ViewData["Title"] = "Index";
}

<h1>Скидки</h1>

<ul class="nav nav-tabs" id="tourTabs" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link" asp-controller="Tours" asp-action="Index" aria-selected="false">Туры</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link active" asp-controller="Discounts" asp-action="Index">Скидки</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" asp-controller="TourRequest" asp-action="Index">Запросы на подбор тура</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Statistics" asp-action="Index">Статистика</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Balances" asp-action="Index">Баланс</a>
    </li>
    <li class="nav-item ms-auto" role="presentation">
        <a asp-action="Create" class="btn btn-primary">Создать</a>
    </li>
</ul>

<table class="table">
    <thead>
        <tr>
            <th>Имя</th>
            <th>Процент скидки</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountPercentage)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DiscountId">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.DiscountId">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.DiscountId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
