@model IEnumerable<TourAgency.Models.TourRequest>

@{
    ViewData["Title"] = "Index";
}

<h1>Заявки на подбор тура</h1>

<ul class="nav nav-tabs" id="tourTabs" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link" asp-controller="Tours" asp-action="Index" aria-selected="false">Туры</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" asp-controller="Discounts" asp-action="Index">Скидки</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link active" asp-controller="TourRequest" asp-action="Index">Запросы на подбор тура</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Statistics" asp-action="Index">Статистика</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Balances" asp-action="Index">Баланс</a>
    </li>
</ul>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Статус</th>
            <th>Предпочтения</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TourRequestId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Preferences)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TourRequestId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TourRequestId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TourRequestId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>